In [62]:
import pandas as pd
import numpy as np
from IPython.display import clear_output
import re
import string
import sys
import nltk

In [67]:
nltk.download('punkt')
nltk.download('treebank')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to /home/berstearns/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package treebank to
[nltk_data]     /home/berstearns/nltk_data...
[nltk_data]   Package treebank is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/berstearns/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [ ]:
>>> from nltk.corpus import treebank
>>> t = treebank.parsed_sents('wsj_0001.mrg')[0]
>>> t.draw()

In [19]:
print(sys.path)

['/usr/lib/python312.zip', '/usr/lib/python3.12', '/usr/lib/python3.12/lib-dynload', '', '/home/berstearns/p/garbage_collector/cefr-classifcation/cefr_classification/venv/lib/python3.12/site-packages']

In [2]:
import os
notebook_dir = os.path.abspath("")
base_dir = os.path.dirname(notebook_dir)
celva_data_folder = os.path.join(base_dir,"datasets", "CELVA")
celva_dataset_fp = os.path.join(celva_data_folder, "celva.csv")

In [70]:
from typing import Union, TypeVar, List, Callable
class CleaningPipeline:
    def __init__(self):
        # Define mappings for replacements
        self.whitespace_map = {c: " " for c in string.whitespace}
        self.replaces = {
            "...": "",
            "..": "",
        }
        self.specials = string.whitespace + ".()"

    def __call__(self, input_data: Union[str, List[str], pd.DataFrame], column_name: str = None):
        """
        Choose between single text, list of texts, or DataFrame processing.
        """
        if isinstance(input_data, str):
            # Single text processing
            return self.clean_text(input_data)
        elif isinstance(input_data, list):
            # List of texts processing
            return [self.clean_text(text) for text in input_data]
        elif isinstance(input_data, pd.DataFrame):
            # DataFrame processing
            if column_name is None:
                raise ValueError("column_name must be provided when input_data is a DataFrame.")
            return self.clean_dataframe(input_data, column_name)
        else:
            raise TypeError("Input type not supported. Must be str, list, or pandas DataFrame.")

    def clean_text(self, text: str) -> str:
        """
        Clean a single text string.
        """
        # Normalize whitespace and lowercase
        text = "".join([self.whitespace_map.get(ch.lower(), ch.lower()) for ch in text if ch.isalnum() or ch in self.specials])
        
        # Replace patterns like "...", ".."
        for pattern, replacement in self.replaces.items():
            text = text.replace(pattern, replacement)
        
        # Remove multiple dots and spaces
        text = re.sub(r'\.{2,}', '', text)
        text = re.sub(r' {2,}', ' ', text).strip()
        
        return text

    def clean_dataframe(self, df: pd.DataFrame, column_name: str) -> pd.DataFrame:
        """
        Clean a text column in a pandas DataFrame.
        """
        if column_name not in df.columns:
            raise ValueError(f"Column '{column_name}' not found in DataFrame.")
        
        # Apply cleaning to the specified column
        df[column_name] = df[column_name].apply(self.clean_text)
        return df

class Text2SentencePipeline:
    def __init__(self, tokenizer: Callable[[str], List[str]]):
        """
        Initialize the Text2Sentence class with a tokenizer function.

        Args:
            tokenizer: A function that takes a string and returns a list of sentences.
        """
        self.tokenizer = tokenizer

    def text2sentence(self, text: str) -> List[str]:
        """
        Tokenize a single text into sentences using the provided tokenizer.
        """
        return self.tokenizer(text)

    def __call__(self, input_data: Union[str, List[str], pd.DataFrame], column_name: str = None) -> Union[List[str], List[List[str]], pd.DataFrame]:
        """
        Choose between single text, list of texts, or DataFrame processing.

        Args:
            input_data: A string, list of strings, or pandas DataFrame.
            column_name: The name of the column to process if input_data is a DataFrame.

        Returns:
            Tokenized sentences based on the input type.
        """
        if isinstance(input_data, str):
            # Single text processing
            return self.text2sentence(input_data)
        elif isinstance(input_data, list):
            # List of texts processing
            return [self.text2sentence(text) for text in input_data]
        elif isinstance(input_data, pd.DataFrame):
            # DataFrame processing
            if column_name is None:
                raise ValueError("column_name must be provided when input_data is a DataFrame.")
            df = input_data.copy()
            df[column_name] = df[column_name].apply(self.text2sentence)
            return df
        else:
            raise TypeError("Input type not supported. Must be str, list, or pandas DataFrame.")

In [3]:
df = pd.read_csv(celva_dataset_fp)

In [71]:
clean = CleaningPipeline()
text2sentence = Text2SentencePipeline(tokenizer=nltk.tokenize.sent_tokenize)
df["cleaned_text"] = clean(df, column_name="Texte_etudiant")["Texte_etudiant"]
df["sentences"] = text2sentence(df, column_name="cleaned_text")

ValueError: Cannot set a DataFrame with multiple columns to the single column sentences

Noun phrases: ['a earth sciences domain', 'the beginning', 'the year', 'i', 'a little city', 'paris un', 'the south', 'paris', 'a few classes', 'cartographic basics', 'it', 'time', 'us', 'it', 'real life', 'what', 'it', 'the field', 'the aim', 'this trip', 'a couple', 'series', 'rock', 'which ones', 'which period', 'the earth time', 'everything', 'we', 'a map', 'a geological map', 'a place', 'we', '10 days', 'we', 'the fauna', 'the wind', 'the sun', 'the rain', 'around 5 to 10 kilometers', 'day', '6pm', 'the field', 'rocks', 'we', 'all', 'us', 'geosciences students', 'little groups', '2 people', 'my partner', 'i', 'attention', 'all the rocks', 'us', 'a in place serie', 'we', 'a pendage', 'which', 'the angle', 'the serie', 'the geographical north pole', 'all those pendages', 'we', 'the north', 'the field', 'the average center', 'the series', 'a syncline', 'our first element', 'our map', 'an syncline', 'all the younger rocks', 'the center', 'we', 'the south', 'the field', 'it', 'us debutants', 'cartographics', 'our map', 'we', 'the south', 'discordance', 'which', 'news deposits', 'the olders rocks', 'all', 'that', 'we', 'our homes', 'what', 'the south']
Verbs: ['go', 'call', 'do', 'see', 'recognize', 'identify', 'belong', 'report', 'see', 'create', 'have', 'wake', 'walk', 'climb', 'walk', 'study', 'watch', 'pay', 'be', 'have', 'take', 'mean', 'direct', 'compare', 'take', 'notice', 'make', 'here', 'go', 'try', 'understand', 'fail', 'finish', 'learn', 'mean', 'place', 'erode', 'go', 'walk', 'climb', 'think', 'happen']
the beginning of the year DATE
paris GPE
paris GPE
10 days DATE
every morning TIME
7 CARDINAL
8 CARDINAL
around 5 CARDINAL
6pm TIME
2 CARDINAL
first ORDINAL
['_', '__bytes__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__pyx_vtable__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__unicode__', '_bulk_merge', '_context', '_get_array_attrs', '_realloc', '_vector', '_vector_norm', 'cats', 'char_span', 'copy', 'count_by', 'doc', 'ents', 'extend_tensor', 'from_array', 'from_bytes', 'from_dict', 'from_disk', 'from_docs', 'from_json', 'get_extension', 'get_lca_matrix', 'has_annotation', 'has_extension', 'has_unknown_spaces', 'has_vector', 'is_nered', 'is_parsed', 'is_sentenced', 'is_tagged', 'lang', 'lang_', 'mem', 'noun_chunks', 'noun_chunks_iterator', 'remove_extension', 'retokenize', 'sentiment', 'sents', 'set_ents', 'set_extension', 'similarity', 'spans', 'tensor', 'text', 'text_with_ws', 'to_array', 'to_bytes', 'to_dict', 'to_disk', 'to_json', 'to_utf8_array', 'user_data', 'user_hooks', 'user_span_hooks', 'user_token_hooks', 'vector', 'vector_norm', 'vocab']

['being in a earth sciences domain at the beginning of the year my class and i went to a little city called paris un the south of paris.',
 'after a few classes of cartographic basics it was time for us to do it in real life to see what it is like to be on the field.',
 'the aim of this trip was to recognize a couple of series of rock and identify which ones belongs to which period of the earth time.',
 'and then being able to report everything we saw on a map and create a geological map of a place weve never been before.',
 'for 10 days we had to wake up every morning a 7 to be ready at 8 to walk through the fauna and flora climbing mountains against the wind or the sun or the rain and walk around 5 to 10 kilometers per day until 6pm.',
 'the field was around 12m2 and rocks we studied about were sedimentary.',
 'all of us geosciences students were separate into little groups of 2 people.',
 'my partner and i were watching out and paying attention to all the rocks around us.',
 'when there is a in place serie we had to take a pendage which means the angle of where the serie is directed compared the geographical north pole.',
 'by taking all those pendages we noticed that from the north of the field to the average center the series were making a syncline.',
 'heres our first element of our map an syncline with all the younger rocks in the center and symmetrically going to the oldest.',
 'we tried to understand the south of the field but failed it was too complicated for us debutants in cartographics.',
 'after finishing our map we learnt that the south were in discordance which means news deposits were placed into the olders rocks eroded.',
 'after all of that we went back to our homes tired of walking and climbing and thinking about what happened in the south.',
 'cool']

In [52]:
import spacy

# Load English tokenizer, tagger, parser and NER
nlp = spacy.load("en_core_web_sm")

# Process whole documents
text = df["cleaned_text"][0]
doc = nlp(text)

# Analyze syntax
print("Noun phrases:", [chunk.text for chunk in doc.noun_chunks])
print("Verbs:", [token.lemma_ for token in doc if token.pos_ == "VERB"])

# Find named entities, phrases and concepts
for entity in doc.ents:
    print(entity.text, entity.label_)
sents = [s for s in doc.sents]
print(dir(doc))
print(f"text:\n {text}","\n\n")
print(f"sent: {sents[0:3]}")

text:
 being in a earth sciences domain at the beginning of the year my class and i went to a little city called paris un the south of paris. after a few classes of cartographic basics it was time for us to do it in real life to see what it is like to be on the field. the aim of this trip was to recognize a couple of series of rock and identify which ones belongs to which period of the earth time. and then being able to report everything we saw on a map and create a geological map of a place weve never been before. for 10 days we had to wake up every morning a 7 to be ready at 8 to walk through the fauna and flora climbing mountains against the wind or the sun or the rain and walk around 5 to 10 kilometers per day until 6pm. the field was around 12m2 and rocks we studied about were sedimentary. all of us geosciences students were separate into little groups of 2 people. my partner and i were watching out and paying attention to all the rocks around us. when there is a in place serie we had to take a pendage which means the angle of where the serie is directed compared the geographical north pole. by taking all those pendages we noticed that from the north of the field to the average center the series were making a syncline. heres our first element of our map an syncline with all the younger rocks in the center and symmetrically going to the oldest. we tried to understand the south of the field but failed it was too complicated for us debutants in cartographics. after finishing our map we learnt that the south were in discordance which means news deposits were placed into the olders rocks eroded. after all of that we went back to our homes tired of walking and climbing and thinking about what happened in the south. cool


sent: [being in a earth sciences domain at the beginning of the year my class, and i went to a little city called paris un the south of paris., after a few classes of cartographic basics it was time for us to do it in real life to see what it is like to be on the field.]

In [4]:
df.describe()

,nb_annees_L2,Sejours_duree_semaines,Sejours_frequence,Lang_exposition,Section_renforcee
count,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000
mean,9.495694,3.543541,2.027751,5.623541,0.371292
std,2.498128,17.252610,14.857374,9.175903,0.483382
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.000000,0.000000,0.000000,1.000000,0.000000
50%,10.000000,1.000000,1.000000,3.000000,0.000000
75%,11.000000,3.000000,2.000000,6.000000,1.000000
max,22.000000,420.000000,360.000000,120.000000,1.000000

In [5]:
df.describe(include="object")

,pseudo,Voc_range,CECRL,L1,Domaine_de_specialite,L2,Note_dialang_ecrit,Lecture_regularite,autre_langue,tache_ecrit,Texte_etudiant,Date_ajout
count,1045,1015,1045,1045,1045,1045,673,992,610,1045,1045,1045
unique,1015,6,6,14,12,1,6,4,8,3,1013,505
top,1f2dd72bc867a07a8a11579ddd2345b3d9851622289c5c...,B1,B1,French,Information Communication,Anglais,B1,hebdomadaire,Espagnol,Tache_1,I did'nt know what to do in my life until the ...,2022-09-14 14:43:00
freq,2,374,358,999,408,1045,263,262,306,664,2,24

In [6]:
df["CECRL"].value_counts()

CECRL
B1    358
A2    324
B2    212
A1     90
C1     53
C2      8
Name: count, dtype: int64

In [7]:
df.isnull().sum()

pseudo                      0
Voc_range                  30
CECRL                       0
nb_annees_L2                0
L1                          0
Domaine_de_specialite       0
Sejours_duree_semaines      0
Sejours_frequence           0
Lang_exposition             0
L2                          0
Note_dialang_ecrit        372
Lecture_regularite         53
autre_langue              435
tache_ecrit                 0
Texte_etudiant              0
Date_ajout                  0
Section_renforcee           0
dtype: int64

In [8]:
df["L1"].value_counts()/len(df["L1"])

L1
French                  0.955981
Arabic                  0.014354
Other                   0.008612
English                 0.004785
Vietnamese              0.003828
Turkish                 0.001914
Malagasy                0.001914
English##Gan Chinese    0.001914
Spanish                 0.001914
Italian                 0.000957
French##Spanish         0.000957
Mandarin                0.000957
Amharic                 0.000957
Russian                 0.000957
Name: count, dtype: float64

In [9]:
map_ = {
    c: " " for c in string.whitespace
}
replaces_ = {
    
    "...":"",
    "..": "",
}
specials = string.whitespace + ".()"
print(specials)
texts = df["Texte_etudiant"].apply(lambda x: "".join([map_.get(ch.lower(),ch.lower()) for ch in x if ch.isalnum() or ch in specials]))
texts = texts.apply(lambda x: re.sub(r'\.{2,}', '', x))
texts = texts.apply(lambda x: re.sub(r' {2,}', '', x))

.()

In [10]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [11]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [12]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
char_ = "!#"

In [14]:
char_.isalnum()

False

In [15]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [16]:
for t in texts:
    print(t.split("."))
    input()

['being in a earth sciences domain at the beginning of the year my class and i went to a little city called paris un the south of paris', ' after a few classes of cartographic basics it was time for us to do it in real life to see what it is like to be on the field', 'the aim of this trip was to recognize a couple of series of rock and identify which ones belongs to which period of the earth time', ' and then being able to report everything we saw on a map and create a geological map of a place weve never been before', 'for 10 days we had to wake up every morning a 7 to be ready at 8 to walk through the fauna and flora climbing mountains against the wind or the sun or the rain and walk around 5 to 10 kilometers per day until 6pm', ' the field was around 12m2 and rocks we studied about were sedimentary', 'all of us geosciences students were separate into little groups of 2 people', ' my partner and i were watching out and paying attention to all the rocks around us', ' when there is ain placeserie we had to take apendagewhich means the angle of where the serie is directed compared the geographical north pole', ' by taking all thosependageswe noticed that from the north of the field to the average center the series were making a syncline', ' heres our first element of our mapan syncline with all the younger rocks in the center and symmetrically going to the oldest', 'we tried to understand the south of the field but failed it was too complicated for us debutants in cartographics', ' after finishing our map we learnt that the south were in discordance which means news deposits were placed into the olders rocks eroded', 'after all of that we went back to our homes tired of walking and climbing and thinking about what happened in the south', 'cool']

KeyboardInterrupt: Interrupted by user

In [21]:

a="d f\nd"

In [22]:
[map_.get(c, c) for c in a]

['d', ' ', 'f', ' ', 'd']

In [23]:
a="... . .. .. ....... . ......."

In [24]:
for p,r in replaces_.items():
    a = a.replace(p,r)

In [25]:
a

' .   . . .'

In [26]:
import re

a = "... . .. .. ....... . ......."

# Replace occurrences of more than one dot with a single dot
result = re.sub(r'\.{2,}', '', a)

print(result)

 .    .

In [27]:
texts.apply(lambda x: x.split("."))[0]

['being in a earth sciences domain at the beginning of the year my class and i went to a little city called paris un the south of paris',
 ' after a few classes of cartographic basics it was time for us to do it in real life to see what it is like to be on the field',
 'the aim of this trip was to recognize a couple of series of rock and identify which ones belongs to which period of the earth time',
 ' and then being able to report everything we saw on a map and create a geological map of a place weve never been before',
 'for 10 days we had to wake up every morning a 7 to be ready at 8 to walk through the fauna and flora climbing mountains against the wind or the sun or the rain and walk around 5 to 10 kilometers per day until 6pm',
 ' the field was around 12m2 and rocks we studied about were sedimentary',
 'all of us geosciences students were separate into little groups of 2 people',
 ' my partner and i were watching out and paying attention to all the rocks around us',
 ' when there is ain placeserie we had to take apendagewhich means the angle of where the serie is directed compared the geographical north pole',
 ' by taking all thosependageswe noticed that from the north of the field to the average center the series were making a syncline',
 ' heres our first element of our mapan syncline with all the younger rocks in the center and symmetrically going to the oldest',
 'we tried to understand the south of the field but failed it was too complicated for us debutants in cartographics',
 ' after finishing our map we learnt that the south were in discordance which means news deposits were placed into the olders rocks eroded',
 'after all of that we went back to our homes tired of walking and climbing and thinking about what happened in the south',
 'cool']

In [28]:
df["Texte_etudiant"][0]

"Being in a earth sciences domain, at the beginning of the year my class and I went to a little city called Paris un the south of Paris. After a few classes of cartographic basics, it was time for us to do it in real life, to see what it is like to be on the field.\n The aim of this trip was to recognize a couple of series of rock, and identify which ones belongs to which period of the earth time. And then, being able to report everything we saw on a map, and create a geological map of a place we've never been before.\n For 10 days, we had to wake up every morning a 7 to be ready at 8 to walk through the fauna and flora, climbing mountains, against the wind or the sun or the rain, and walk around 5 to 10 kilometers per day, until 6pm. The field was around 12m^2 and rocks we studied about were sedimentary.\n All of us, geosciences students, were separate into little groups of 2 people. My partner and I were watching out and paying attention to all the rocks around us. When there is a « in place » serie, we had to take a « pendage » which means the angle of where the serie is directed compared the geographical north pole. By taking all those « pendages », we noticed that, from the north of the field to the average center, the series were making a syncline. Here’s our first element of our map ! An syncline, with all the younger rocks in the center and, symmetrically, going to the oldest.\n We tried to understand the south of the field but failed, it was too complicated for us, debutants in cartographics. After finishing our map, we learnt that the south were in discordance, which means news deposits were placed into the olders rocks eroded.\n After all of that, we went back to our homes, tired of walking and climbing and thinking about what happened in the south.\n cool"