In [1]:
import pandas as pd
import numpy as np
from IPython.display import clear_output
import re
import string

In [2]:
import os
notebook_dir = os.path.abspath("")
base_dir = os.path.dirname(notebook_dir)
celva_data_folder = os.path.join(base_dir,"datasets", "CELVA")
celva_dataset_fp = os.path.join(celva_data_folder, "celva.csv")

In [3]:
df = pd.read_csv(celva_dataset_fp)

In [4]:
df.describe()

,nb_annees_L2,Sejours_duree_semaines,Sejours_frequence,Lang_exposition,Section_renforcee
count,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000
mean,9.495694,3.543541,2.027751,5.623541,0.371292
std,2.498128,17.252610,14.857374,9.175903,0.483382
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.000000,0.000000,0.000000,1.000000,0.000000
50%,10.000000,1.000000,1.000000,3.000000,0.000000
75%,11.000000,3.000000,2.000000,6.000000,1.000000
max,22.000000,420.000000,360.000000,120.000000,1.000000

In [5]:
df.describe(include="object")

,pseudo,Voc_range,CECRL,L1,Domaine_de_specialite,L2,Note_dialang_ecrit,Lecture_regularite,autre_langue,tache_ecrit,Texte_etudiant,Date_ajout
count,1045,1015,1045,1045,1045,1045,673,992,610,1045,1045,1045
unique,1015,6,6,14,12,1,6,4,8,3,1013,505
top,1f2dd72bc867a07a8a11579ddd2345b3d9851622289c5c...,B1,B1,French,Information Communication,Anglais,B1,hebdomadaire,Espagnol,Tache_1,I did'nt know what to do in my life until the ...,2022-09-14 14:43:00
freq,2,374,358,999,408,1045,263,262,306,664,2,24

In [6]:
df.isnull().sum()

pseudo                      0
Voc_range                  30
CECRL                       0
nb_annees_L2                0
L1                          0
Domaine_de_specialite       0
Sejours_duree_semaines      0
Sejours_frequence           0
Lang_exposition             0
L2                          0
Note_dialang_ecrit        372
Lecture_regularite         53
autre_langue              435
tache_ecrit                 0
Texte_etudiant              0
Date_ajout                  0
Section_renforcee           0
dtype: int64

In [7]:
df["L1"].value_counts()/len(df["L1"])

L1
French                  0.955981
Arabic                  0.014354
Other                   0.008612
English                 0.004785
Vietnamese              0.003828
Turkish                 0.001914
Malagasy                0.001914
English##Gan Chinese    0.001914
Spanish                 0.001914
Italian                 0.000957
French##Spanish         0.000957
Mandarin                0.000957
Amharic                 0.000957
Russian                 0.000957
Name: count, dtype: float64

In [8]:
map_ = {
    c: " " for c in string.whitespace
}
replaces_ = {
    
    "...":"",
    "..": "",
}
specials = string.whitespace + ".()"
print(specials)
texts = df["Texte_etudiant"].apply(lambda x: "".join([map_.get(ch.lower(),ch.lower()) for ch in x if ch.isalnum() or ch in specials]))
texts = texts.apply(lambda x: re.sub(r'\.{2,}', '', x))
texts = texts.apply(lambda x: re.sub(r' {2,}', '', x))

.()

In [9]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [10]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [11]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
char_ = "!#"

In [13]:
char_.isalnum()

False

In [14]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [15]:
for t in texts:
    print(t.split("."))
    input()

['being in a earth sciences domain at the beginning of the year my class and i went to a little city called paris un the south of paris', ' after a few classes of cartographic basics it was time for us to do it in real life to see what it is like to be on the field', 'the aim of this trip was to recognize a couple of series of rock and identify which ones belongs to which period of the earth time', ' and then being able to report everything we saw on a map and create a geological map of a place weve never been before', 'for 10 days we had to wake up every morning a 7 to be ready at 8 to walk through the fauna and flora climbing mountains against the wind or the sun or the rain and walk around 5 to 10 kilometers per day until 6pm', ' the field was around 12m2 and rocks we studied about were sedimentary', 'all of us geosciences students were separate into little groups of 2 people', ' my partner and i were watching out and paying attention to all the rocks around us', ' when there is ain placeserie we had to take apendagewhich means the angle of where the serie is directed compared the geographical north pole', ' by taking all thosependageswe noticed that from the north of the field to the average center the series were making a syncline', ' heres our first element of our mapan syncline with all the younger rocks in the center and symmetrically going to the oldest', 'we tried to understand the south of the field but failed it was too complicated for us debutants in cartographics', ' after finishing our map we learnt that the south were in discordance which means news deposits were placed into the olders rocks eroded', 'after all of that we went back to our homes tired of walking and climbing and thinking about what happened in the south', 'cool']

KeyboardInterrupt: Interrupted by user

In [16]:

a="d f\nd"

In [17]:
[map_.get(c, c) for c in a]

['d', ' ', 'f', ' ', 'd']

In [18]:
a="... . .. .. ....... . ......."

In [19]:
for p,r in replaces_.items():
    a = a.replace(p,r)

In [20]:
a

' .   . . .'

In [21]:
import re

a = "... . .. .. ....... . ......."

# Replace occurrences of more than one dot with a single dot
result = re.sub(r'\.{2,}', '', a)

print(result)

 .    .

In [22]:
texts.apply(lambda x: x.split("."))[0]

['being in a earth sciences domain at the beginning of the year my class and i went to a little city called paris un the south of paris',
 ' after a few classes of cartographic basics it was time for us to do it in real life to see what it is like to be on the field',
 'the aim of this trip was to recognize a couple of series of rock and identify which ones belongs to which period of the earth time',
 ' and then being able to report everything we saw on a map and create a geological map of a place weve never been before',
 'for 10 days we had to wake up every morning a 7 to be ready at 8 to walk through the fauna and flora climbing mountains against the wind or the sun or the rain and walk around 5 to 10 kilometers per day until 6pm',
 ' the field was around 12m2 and rocks we studied about were sedimentary',
 'all of us geosciences students were separate into little groups of 2 people',
 ' my partner and i were watching out and paying attention to all the rocks around us',
 ' when there is ain placeserie we had to take apendagewhich means the angle of where the serie is directed compared the geographical north pole',
 ' by taking all thosependageswe noticed that from the north of the field to the average center the series were making a syncline',
 ' heres our first element of our mapan syncline with all the younger rocks in the center and symmetrically going to the oldest',
 'we tried to understand the south of the field but failed it was too complicated for us debutants in cartographics',
 ' after finishing our map we learnt that the south were in discordance which means news deposits were placed into the olders rocks eroded',
 'after all of that we went back to our homes tired of walking and climbing and thinking about what happened in the south',
 'cool']

In [23]:
df["Texte_etudiant"][0]

"Being in a earth sciences domain, at the beginning of the year my class and I went to a little city called Paris un the south of Paris. After a few classes of cartographic basics, it was time for us to do it in real life, to see what it is like to be on the field.\n The aim of this trip was to recognize a couple of series of rock, and identify which ones belongs to which period of the earth time. And then, being able to report everything we saw on a map, and create a geological map of a place we've never been before.\n For 10 days, we had to wake up every morning a 7 to be ready at 8 to walk through the fauna and flora, climbing mountains, against the wind or the sun or the rain, and walk around 5 to 10 kilometers per day, until 6pm. The field was around 12m^2 and rocks we studied about were sedimentary.\n All of us, geosciences students, were separate into little groups of 2 people. My partner and I were watching out and paying attention to all the rocks around us. When there is a « in place » serie, we had to take a « pendage » which means the angle of where the serie is directed compared the geographical north pole. By taking all those « pendages », we noticed that, from the north of the field to the average center, the series were making a syncline. Here’s our first element of our map ! An syncline, with all the younger rocks in the center and, symmetrically, going to the oldest.\n We tried to understand the south of the field but failed, it was too complicated for us, debutants in cartographics. After finishing our map, we learnt that the south were in discordance, which means news deposits were placed into the olders rocks eroded.\n After all of that, we went back to our homes, tired of walking and climbing and thinking about what happened in the south.\n cool"