# Statistics CA1

# Task 1 - Data Analysis:
Your task is to find a dataset of interest to you, that contains a mix of categorical and numerical variables.
As a guideline, the dataset should have a minimum of two categorical variables and three numerical
variables

  - Use of appropriate functions in Python. [15 Marks]
  - Clearly commenting the code in the .ipynb file. [5 Marks]
  - Producing clear results for the chosen dataset, using appropriate statistical measures and appropriate plots. [15 Marks]
  - The quality of the graphics included. [5 Marks]
  - Summarising the conclusions from the analysis appropriately. [30 Marks]

In [36]:
# it's advised to import all your libraries in one single cell
from IPython.display import clear_output
import pandas as pd

## Describing the CEDEL2 dataset

* CEDEL2 is a large database containing the language produced by learners of Spanish as a second/foreign language (L2). This database is called a language ‘corpus’. 

* Language learners in this database do a profiencicy test as well as a writting task which are stored in two columns : Profieicncy test score and proficiency. There are also many charateristics of the learner and how much the learner has been exposed to spanish.

* I want to explore relationships between learners characteristics and their proficiency levels

* I first use the read_csv function to read the file, the shape function to show the number of rows and columns, the columns to see column names, head() to check a few row.

* there are 3041 rows and 41 columns
    * 41 columns is too many variables to analyzing in the scope of this project
    * I will drop not relevant variables for the analysis, targeting a few core variables.

* To analysise the columns with missing values I use the function is isna to check if a value is missing and the sum function sums the missing values per column and the sort_values order from lower to higher.
* Columns with most missing values:
    * Original text                                                     3034
    * Language certificates (type and level)                            2786
    * Resources used                                                    2037
    * Stay abroad (when)                                                1984
    * Stay abroad (where)                                               1976
    * Minutes taken to complete the task                                1564
    * Additional foreign language(s)                                    1546
    * Proficiency (self-assessment) in additional language writing      1526
    * Proficiency (self-assessment) in additional language reading      1508
    * Proficiency (self-assessment) in additional language listening    1505
    * Proficiency (self-assessment) in additional language speaking     1501
    * Major                                                              905
    * School/University/Institution                                      444
    * Year at university/school                                          363
    * Stay abroad (months)                                               103

In [37]:
dataframe = pd.read_csv("./data.csv",sep="\t")

In [38]:
dataframe.shape

(3034, 41)

In [39]:
dataframe.columns

Index(['Subcorpus', 'Filename', 'Year data collection',
       'Placement test score (raw)', 'Placement test score (%)', 'Proficiency',
       'Sex', 'Age', 'School/University/Institution', 'Major',
       'Year at university/school', 'L1', 'Father's native language',
       'Mother's nativelanguage', 'Languages spoken at home',
       'Age of exposure to Spanish', 'Years studying Spanish',
       'Stay abroad in Spanish speaking country (>= 1 month)',
       'Stay abroad (where)', 'Stay abroad (when)', 'Stay abroad (months)',
       'Language certificates (type and level)',
       'Proficiency (self-assessment) speaking',
       'Proficiency (self-assessment) listening',
       'Proficiency (self-assessment) reading',
       'Proficiency (self-assessment) writing',
       'Proficiency (self-assessment)', 'Additional foreign language(s)',
       'Proficiency (self-assessment) in additional language speaking',
       'Proficiency (self-assessment) in additional language listening',
       'Proficiency (self-assessment) in additional language reading',
       'Proficiency (self-assessment) in additional language writing',
       'Medium', 'Task number', 'Task title', 'Writting/audio details',
       'Minutes taken to complete the task', 'Where the task was done',
       'Resources used', 'Text', 'Original text'],
      dtype='object')

In [40]:
dataframe.head()

,Subcorpus,Filename,Year data collection,Placement test score (raw),Placement test score (%),Proficiency,Sex,Age,School/University/Institution,Major,...,Proficiency (self-assessment) in additional language writing,Medium,Task number,Task title,Writting/audio details,Minutes taken to complete the task,Where the task was done,Resources used,Text,Original text
0,Learners,JP_WR_2_19_0.5_14_TAG,2018,2 / 43,4.7,Lower beginner,Female,19.0,teikyo universidad,espanola,...,Lower beginner (A1),Written,14,14. Chaplin,written_online,NaN,NaN,NaN,Chaplin es antipatico.\n\nNo no está grapo.\n\...,NaN
1,Learners,JP_WR_2_20_2_14_AT,2018,2 / 43,4.7,Lower beginner,Male,20.0,universidad Sophia,ciencia,...,Lower advanced (C1),Written,14,14. Chaplin,written_online,48.0,Outside classroom,Monolingual dictionary (Spanish),Chaplin ando en una calle y vio una bebé que e...,NaN
2,Learners,JP_WR_3_19_0.5_13_TBB,2019,3 / 43,7.0,Lower beginner,Male,19.0,帝京大学,外国語学部外国語学科スペイン語コース,...,Lower intermediate (B1),Written,13,13. Frog,written_online,13.0,Inside classroom,Bilingual dictionary (Spanish/Japanese),La rana está entre en una botella de vidrio.\n...,NaN
3,Learners,EN_WR_6_20_3_1_CJB,2006-2016,6 / 43,14.0,Lower beginner,Female,20.0,Georgia State University,Spanish,...,NaN,Written,1,1. Region where you live,written_online,NaN,Inside classroom,"Help from a Spanish native speaker, Bilingual ...","Yo vivo es Alanta, Georgia. Atlanta es muy gra...",NaN
4,Learners,EN_WR_7_26_2_2_TB,2006-2016,7 / 43,16.3,Lower beginner,Male,26.0,Georgia State University,Film,...,NaN,Written,2,2. Famous person,written_online,NaN,Inside classroom,NaN,Sanaa Lathan es muy famosa persona. Ella es en...,NaN

In [41]:
dataframe.isna().sum().sort_values()

Subcorpus                                                            0
Filename                                                             0
Year data collection                                                 0
Placement test score (raw)                                           0
Placement test score (%)                                             0
Proficiency                                                          0
Sex                                                                  0
L1                                                                   0
Age of exposure to Spanish                                           0
Mother's nativelanguage                                              0
Proficiency (self-assessment)                                        0
Proficiency (self-assessment) writing                                0
Proficiency (self-assessment) reading                                0
Proficiency (self-assessment) speaking                               0
Proficiency (self-assessment) listening                              0
Stay abroad in Spanish speaking country (>= 1 month)                 0
Writting/audio details                                               0
Task title                                                           0
Task number                                                          0
Text                                                                 0
Medium                                                               0
Father's native language                                             3
Age                                                                  4
Languages spoken at home                                             5
Where the task was done                                              8
Years studying Spanish                                              35
Stay abroad (months)                                               103
Year at university/school                                          363
School/University/Institution                                      444
Major                                                              905
Proficiency (self-assessment) in additional language speaking     1501
Proficiency (self-assessment) in additional language listening    1505
Proficiency (self-assessment) in additional language reading      1508
Proficiency (self-assessment) in additional language writing      1526
Additional foreign language(s)                                    1546
Minutes taken to complete the task                                1564
Stay abroad (where)                                               1976
Stay abroad (when)                                                1984
Resources used                                                    2037
Language certificates (type and level)                            2786
Original text                                                     3034
dtype: int64

## Selecting variables for analysis

* to analyse columns i simply run a for loop over the columns
    * In pandas putting the column_name inside the brackets filter only the column so I can analyse columns individually
    * I print the value counts to see the frequency of values for each column
    * I use the input function from python to wait my command to continue
    * I manually selected columns that seemed relevant
    * A create a new variable "selected_dataframe" to copy the dataframe with only the selected columns to use in the analysis
* Relevants selected columns:
| **Column Name**                        | **Short Description**                                           | **Statistical Datatype**    |
|----------------------------------------|-----------------------------------------------------------------|-----------------------------|
| Placement test score (%)               | Percentage of right answers in placement test                 | Numeric, Discrete         |
| Proficiency                            | Proficiency level in Spanish (measured by an external scale)   | Nominal                     |
| Sex                                    | Gender of the learner                                           | Nominal                     |
| Age                                    | Age of the learner in years                                     | Numeric, Discrete           |
| L1                                     | First language of the learner                                   | Nominal                     |
| Languages spoken at home               | Languages spoken in the home environment                        | Nominal                     |
| Age of exposure to Spanish             | Age at which the learner was first exposed to Spanish          | Numeric, Discrete           |
| Years studying Spanish                 | Number of years spent learning Spanish                          | Numeric, Discrete           |
| Proficiency (self-assessment)          | Learner's selmf-assessment of their proficiency in Spanish       | Ordinal                     |
| Additional foreign language(s)         | Other foreign languages spoken by the learner                   | Nominal                     |
| Task title                             | Title of the language task the learner completed                | Nominal                     |
| text                                   | Text produced by the learner during the task                    | Nominal (text data)         |

In [67]:
for column_name in dataframe.columns:
    print(column_name)
    print(dataframe[column_name].dtype)
    print(dataframe[column_name].value_counts())
    inp = input()
    if inp=="b":
        clear_output()
        break
    clear_output()

In [68]:
selected_relevant_columns = [ 
    "Placement test score (%)", "Proficiency", "Sex",
    "Age", "L1", "Languages spoken at home", "Age of exposure to Spanish",
    "Years studying Spanish", "Proficiency (self-assessment)", "Additional foreign language(s)",
    "Task title", "Text"
]

In [69]:
for column_name in selected_relevant_columns:
    print(column_name)
    print(dataframe[column_name].dtype)
    print(dataframe[column_name].value_counts())
    inp = input()
    if inp=="b":
        clear_output()
        break
    clear_output()

### Analysing the data type of the selected columns

| **Column Name**                        | **Short Description**                                           | **Statistical Datatype**    |
|----------------------------------------|-----------------------------------------------------------------|-----------------------------|
| Placement test score (%)               | Percentage of right answers in placement test                 | Numeric, Discrete         |
| Proficiency                            | Proficiency level in Spanish (measured by an external scale)   | Nominal                     |
| Sex                                    | Gender of the learner                                           | Nominal                     |
| Age                                    | Age of the learner in years                                     | Numeric, Discrete           |
| L1                                     | First language of the learner                                   | Nominal                     |
| Languages spoken at home               | Languages spoken in the home environment                        | Nominal                     |
| Age of exposure to Spanish             | Age at which the learner was first exposed to Spanish          | Numeric, Discrete           |
| Years studying Spanish                 | Number of years spent learning Spanish                          | Numeric, Discrete           |
| Proficiency (self-assessment)          | Learner's selmf-assessment of their proficiency in Spanish       | Ordinal                     |
| Additional foreign language(s)         | Other foreign languages spoken by the learner                   | Nominal                     |
| Task title                             | Title of the language task the learner completed                | Nominal                     |
| text                                   | Text produced by the learner during the task                    | Nominal (text data)         |

In [65]:
selected_dataframe = dataframe[selected_relevant_columns]

## Analysing