# Machine Learning CA1

1) A clear introduction, motivation, a description of the problem domain, and an explanation of
how the assignment's goals are justified using Prediction / Classification algorithms.

(20 marks)
2) Characterization of data, pre-processing, explanation and description of techniques used for
the variation in the accuracy across three training splits (10%, 15% and 25%) using cross
validation techniques.

(30 marks)

3) What is the primary purpose of hyperparameter tuning in machine learning? Could you
elaborate on specific hyperparameter tuning techniques (e.g., GridSearchCV) applied to
machine learning models to find optimal parameters?

(25 marks)
4) Interpret and explain the results obtained, discuss overfitting / underfitting / generalisation,
provide a rationale for the chosen models and use visualisations to support your findings.
Comments in Python code, conclusions of the assignment should be specified at the end of
the report. Harvard Style must be used for citations and references.

In [4]:
from IPython.display import clear_output
import pandas as pd

## Introduction

Higher level education is one of the core government concerns in most of countries with high stakes for the long term sucess of such countries. From a governement policy perspective understanding students interests and identifying discontent and possiblity of drop out is essential. As the scale of classrooms and universities increases it's undoable to individually understand each student, so automated technices become crucial. This work is motivated by the possiblity of machine learning models to be trained to predict the probability of drop out of students given their background and context they are in. To achieve this I will use a class

In [5]:
# Justice Centered data includes a set of justice votes for each dispute, along with the case information. The unit of analysis is the vote. These data should be used if the votes of the justices are of interest.
url='https://drive.google.com/uc?id=' + '1Fbtcb4gvAAxXmVegJSFrz9UTSDSu9jfK'
dataframe = pd.read_csv(url,sep=";")

In [6]:
print(dataframe.shape)

(4424, 37)

In [17]:
print(dataframe.columns)
# simplifying column names
dataframe.columns = [''.join(ch.lower() for ch in column_name if ch.isalnum()) for column_name in dataframe.columns]
print(dataframe.columns)

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance\t', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')
Index(['maritalstatus', 'applicationmode', 'applicationorder', 'course',
       'daytimeeveningattendance', 'previousqualification',
       'previousqualificationgrade', 'nacionality', 'mothersqualification',
       'fathersqualification', 'mothersoccupation', 'fathersoccupation',
       'admissiongrade', 'displaced', 'educationalspecialneeds', 'debtor',
       'tuitionfeesuptodate', 'gender', 'scholarshipholder', 'ageatenrollment',
       'international', 'curricularunits1stsemcredited',
       'curricularunits1stsemenrolled', 'curricularunits1stsemevaluations',
       'curricularunits1stsemapproved', 'curricularunits1stsemgrade',
       'curricularunits1stsemwithoutevaluations',
       'curricularunits2ndsemcredited', 'curricularunits2ndsemenrolled',
       'curricularunits2ndsemevaluations', 'curricularunits2ndsemapproved',
       'curricularunits2ndsemgrade', 'curricularunits2ndsemwithoutevaluations',
       'unemploymentrate', 'inflationrate', 'gdp', 'target'],
      dtype='object')

In [19]:
dataframe.head()

,maritalstatus,applicationmode,applicationorder,course,daytimeeveningattendance,previousqualification,previousqualificationgrade,nacionality,mothersqualification,fathersqualification,...,curricularunits2ndsemcredited,curricularunits2ndsemenrolled,curricularunits2ndsemevaluations,curricularunits2ndsemapproved,curricularunits2ndsemgrade,curricularunits2ndsemwithoutevaluations,unemploymentrate,inflationrate,gdp,target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [20]:
# Martial status 
# 1 – single 2 – married 3 – widower 4 – divorced 5 – facto union 6 – legally separated

# Application mode
# 1 - 1st phase - general contingent 2 - Ordinance No. 612/93 5 - 1st phase - special contingent (Azores Island) 7 - Holders of other higher courses 10 - Ordinance No. 854-B/99 15 - International student (bachelor) 16 - 1st phase - special contingent (Madeira Island) 17 - 2nd phase - general contingent 18 - 3rd phase - general contingent 26 - Ordinance No. 533-A/99, item b2) (Different Plan) 27 - Ordinance No. 533-A/99, item b3 (Other Institution) 39 - Over 23 years old 42 - Transfer 43 - Change of course 44 - Technological specialization diploma holders 51 - Change of institution/course 53 - Short cycle diploma holders 57 - Change of institution/course (International)

# Application order
# Application order (between 0 - first choice; and 9 last choice)

# Course
# 33 - Biofuel Production Technologies 171 - Animation and Multimedia Design 8014 - Social Service (evening attendance) 9003 - Agronomy 9070 - Communication Design 9085 - Veterinary Nursing 9119 - Informatics Engineering 9130 - Equinculture 9147 - Management 9238 - Social Service 9254 - Tourism 9500 - Nursing 9556 - Oral Hygiene 9670 - Advertising and Marketing Management 9773 - Journalism and Communication 9853 - Basic Education 9991 - Management (evening attendance)

# Daytime/evening attendance
# 1 – daytime 0 - evening	

# Previous qualification
# 1 - Secondary education 2 - Higher education - bachelor's degree 3 - Higher education - degree 4 - Higher education - master's 5 - Higher education - doctorate 6 - Frequency of higher education 9 - 12th year of schooling - not completed 10 - 11th year of schooling - not completed 12 - Other - 11th year of schooling 14 - 10th year of schooling 15 - 10th year of schooling - not completed 19 - Basic education 3rd cycle (9th/10th/11th year) or equiv. 38 - Basic education 2nd cycle (6th/7th/8th year) or equiv. 39 - Technological specialization course 40 - Higher education - degree (1st cycle) 42 - Professional higher technical course 43 - Higher education - master (2nd cycle)

# Previous qualification (grade)
# Grade of previous qualification (between 0 and 200)

# Nationality
# 1 - Portuguese; 2 - German; 6 - Spanish; 11 - Italian; 13 - Dutch; 14 - English; 17 - Lithuanian; 21 - Angolan; 22 - Cape Verdean; 24 - Guinean; 25 - Mozambican; 26 - Santomean; 32 - Turkish; 41 - Brazilian; 62 - Romanian; 100 - Moldova (Republic of); 101 - Mexican; 103 - Ukrainian; 105 - Russian; 108 - Cuban; 109 - Colombian	

# Mother's qualification
# 1 - Secondary Education - 12th Year of Schooling or Eq. 2 - Higher Education - Bachelor's Degree 3 - Higher Education - Degree 4 - Higher Education - Master's 5 - Higher Education - Doctorate 6 - Frequency of Higher Education 9 - 12th Year of Schooling - Not Completed 10 - 11th Year of Schooling - Not Completed 11 - 7th Year (Old) 12 - Other - 11th Year of Schooling 14 - 10th Year of Schooling 18 - General commerce course 19 - Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv. 22 - Technical-professional course 26 - 7th year of schooling 27 - 2nd cycle of the general high school course 29 - 9th Year of Schooling - Not Completed 30 - 8th year of schooling 34 - Unknown 35 - Can't read or write 36 - Can read without having a 4th year of schooling 37 - Basic education 1st cycle (4th/5th year) or equiv. 38 - Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv. 39 - Technological specialization course 40 - Higher education - degree (1st cycle) 41 - Specialized higher studies course 42 - Professional higher technical course 43 - Higher Education - Master (2nd cycle) 44 - Higher Education - Doctorate (3rd cycle)

# Father's qualification
# 1 - Secondary Education - 12th Year of Schooling or Eq. 2 - Higher Education - Bachelor's Degree 3 - Higher Education - Degree 4 - Higher Education - Master's 5 - Higher Education - Doctorate 6 - Frequency of Higher Education 9 - 12th Year of Schooling - Not Completed 10 - 11th Year of Schooling - Not Completed 11 - 7th Year (Old) 12 - Other - 11th Year of Schooling 13 - 2nd year complementary high school course 14 - 10th Year of Schooling 18 - General commerce course 19 - Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv. 20 - Complementary High School Course 22 - Technical-professional course 25 - Complementary High School Course - not concluded 26 - 7th year of schooling 27 - 2nd cycle of the general high school course 29 - 9th Year of Schooling - Not Completed 30 - 8th year of schooling 31 - General Course of Administration and Commerce 33 - Supplementary Accounting and Administration 34 - Unknown 35 - Can't read or write 36 - Can read without having a 4th year of schooling 37 - Basic education 1st cycle (4th/5th year) or equiv. 38 - Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv. 39 - Technological specialization course 40 - Higher education - degree (1st cycle) 41 - Specialized higher studies course 42 - Professional higher technical course 43 - Higher Education - Master (2nd cycle) 44 - Higher Education - Doctorate (3rd cycle)	

# Mother's occupation
# 0 - Student 1 - Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers 2 - Specialists in Intellectual and Scientific Activities 3 - Intermediate Level Technicians and Professions 4 - Administrative staff 5 - Personal Services, Security and Safety Workers and Sellers 6 - Farmers and Skilled Workers in Agriculture, Fisheries and Forestry 7 - Skilled Workers in Industry, Construction and Craftsmen 8 - Installation and Machine Operators and Assembly Workers 9 - Unskilled Workers 10 - Armed Forces Professions 90 - Other Situation 99 - (blank) 122 - Health professionals 123 - teachers 125 - Specialists in information and communication technologies (ICT) 131 - Intermediate level science and engineering technicians and professions 132 - Technicians and professionals, of intermediate level of health 134 - Intermediate level technicians from legal, social, sports, cultural and similar services 141 - Office workers, secretaries in general and data processing operators 143 - Data, accounting, statistical, financial services and registry-related operators 144 - Other administrative support staff 151 - personal service workers 152 - sellers 153 - Personal care workers and the like 171 - Skilled construction workers and the like, except electricians 173 - Skilled workers in printing, precision instrument manufacturing, jewelers, artisans and the like 175 - Workers in food processing, woodworking, clothing and other industries and crafts 191 - cleaning workers 192 - Unskilled workers in agriculture, animal production, fisheries and forestry 193 - Unskilled workers in extractive industry, construction, manufacturing and transport 194 - Meal preparation assistants

In [ ]:
for column in dataframe.columns:
    print(column)
    print(dataframe[column].value_counts())
    input("\n")
    clear_output()

curricularunits2ndsemgrade
curricularunits2ndsemgrade
0.000000     870
12.000000    170
11.000000    165
13.000000    150
11.500000     86
            ...
13.514286      1
14.511250      1
12.050000      1
13.242857      1
13.417391      1
Name: count, Length: 786, dtype: int64

In [16]:
categorical_variables = [
 'maritalstatus',
 'applicationmode',
 'applicationorder',
 'course',
 # 'daytimeeveningattendance', boolean
 'previousqualification',
 # 'previousqualificationgrade', numeric
 'nacionality',
 'mothersqualification',
 'fathersqualification',
 'mothersoccupation',
 'fathersoccupation',
 # 'admissiongrade', numeric
 # 'displaced', boolean
 #'educationalspecialneeds', boolean
 #'debtor', boolean
 #'tuitionfeesuptodate', boolean
 #'gender', boolean
 #'scholarshipholder', boolean
 #'ageatenrollment', numeric
 #'international', boolean
 #'curricularunits1stsemcredited', numeric
 #'curricularunits1stsemenrolled', numeric
 #'curricularunits1stsemevaluations', numeric
 #'curricularunits1stsemapproved', numeric
 #'curricularunits1stsemgrade', numeric
 #'curricularunits1stsemwithoutevaluations', numeric
 #'curricularunits2ndsemcredited',
 #'curricularunits2ndsemenrolled',
 #'curricularunits2ndsemevaluations',
 #'curricularunits2ndsemapproved',
 #'curricularunits2ndsemgrade',
 #'curricularunits2ndsemwithoutevaluations',
 'unemploymentrate',
 'inflationrate',
 'gdp',
 'target']

['maritalstatus',
 'applicationmode',
 'applicationorder',
 'course',
 'daytimeeveningattendance',
 'previousqualification',
 'previousqualificationgrade',
 'nacionality',
 'mothersqualification',
 'fathersqualification',
 'mothersoccupation',
 'fathersoccupation',
 'admissiongrade',
 'displaced',
 'educationalspecialneeds',
 'debtor',
 'tuitionfeesuptodate',
 'gender',
 'scholarshipholder',
 'ageatenrollment',
 'international',
 'curricularunits1stsemcredited',
 'curricularunits1stsemenrolled',
 'curricularunits1stsemevaluations',
 'curricularunits1stsemapproved',
 'curricularunits1stsemgrade',
 'curricularunits1stsemwithoutevaluations',
 'curricularunits2ndsemcredited',
 'curricularunits2ndsemenrolled',
 'curricularunits2ndsemevaluations',
 'curricularunits2ndsemapproved',
 'curricularunits2ndsemgrade',
 'curricularunits2ndsemwithoutevaluations',
 'unemploymentrate',
 'inflationrate',
 'gdp',
 'target']

## Characterization of data

### preprocessing

Most of our variables are categorical so we need to convert them to binary columns

In [ ]:
categorical_variables =  ["Marital status

### explanation

### three training splits (CV)

## Hyperparameter tuning

## Interpreting and explaning results

### Overfitting/ underfitting / generalization

In [ ]:
#